.button-card {
  background: var(--color-theme-button-primary);
  border: 0;
  border-radius: 4px;
  color: var(--color-white);
  cursor: pointer;
  filter: drop-shadow(0 4px 4px var(--color-black-25));
  font: 16px var(--font-secondary);
  height: 48px;
  margin: 0 auto;
  min-width: 144px;
  padding: 15px;
}
.button-hero {
  background: var(--color-theme-button-primary);
  border: 0;
  border-radius: 4px;
  color: var(--color-white);
  cursor: pointer;
  filter: drop-shadow(0 4px 4px var(--color-black-25));
  font: 16px var(--font-secondary);
  margin: auto 0 0;
  padding: 15px;
  width: 100%;
}
.button-card:hover, .button-card:focus, .button-hero:hover, .button-hero:focus {
  filter: brightness(1.25);
}

.button-menu {
  background: linear-gradient(var(--color-theme-primary-3), var(--color-theme-primary-1));
  border: 0.5px solid var(--color-theme-primary-3);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 42px;
  width: 42px;
}
.button-menu:hover, .button-menu:focus {
  filter: brightness(1.5);
}

.icon {
  margin: auto;
}

@media (min-width: 769px) {
  .button-card {
    margin: auto 0 auto auto;
  }

  .button-hero {
    font-size: 18px;
    margin: 32px 0 0;
    padding: 10px 24px;
    width: 352px;
  }
}

@media (min-width: 1025px) {
  .button-hero {
    font-size: 24px;
    margin: 24px auto 0;
    padding: 12px;
    width: 55.55vw;
  }
}

@media (min-width: 1920px) {
  .button-hero {
    width: 41.66vw;
  }
}