.button-body {}

.button-menu {
  background: linear-gradient(var(--color-theme-primary-3), var(--color-theme-primary-1));
  border: 0.5px solid var(--color-theme-primary-3);
  border-radius: 50%;
  display: flex;
  height: 42px;
  width: 42px;
}

.icon {
  margin: auto;
}