.image-container {
  display: flex;
  width: calc(50% - 16px);
}
.image-container img {
  margin: auto;
  max-width: 150px;
  width: 100%;
}
.image-container img.boundless {
  max-width: 300px;
}
.rounded {
  border-radius: 50%;
}

.text-container {
  margin: auto;
  width: calc(50% - 16px);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

@media (min-width: 769px) {
  .image-container {
    width: 100%;
  }
  .image-container img {
    max-width: 200px;
    width: 100%;
  }
  .image-container img.boundless {
    max-width: 400px;
  }

  .text-container {
    width: 100%;
  }

  .wrapper {
    flex-direction: column;
  }
}

@media (min-width: 1025px) {
  .image-container img.boundless {
    max-width: 600px;
  }
}

@media (min-width: 1920px) {
  .image-container img.boundless {
    max-width: 750px;
  }
}