.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 296px;
  width: 45vw;
}

@media (min-width: 768px) {
  .wrapper {
    gap: 32px;
    width: 62.5vw;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    max-width: 1180px;
    width: 81.94vw;
  }
}