.close-image {
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.modal {
  background: linear-gradient(to top right, var(--color-theme-primary-1), var(--color-theme-secondary-3));
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 50vw;
  min-width: 296px;
  opacity: 0;
  padding: 16px;
  position: fixed;
  top: 50vh;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s, z-index 0.3s ease-in-out;
  width: 66vw;
  z-index: -1;
}
.modal.open {
  opacity: 1;
  z-index: 3;
}

.modal-buttons-container {
  display: flex;
  gap: 16px;
}

.modal-description {
  color: var(--color-white);
  font: 12px var(--font-primary);
  height: 14px;
  margin: auto;
}

.modal-title {
  color: var(--color-white);
  font: bold 14px var(--font-secondary);
  height: 16px;
  margin: auto;
}

.title-container {
  display: flex;
  height: 20px;
  position: relative;
  width: 100%;
}

@media (min-width: 769px) {
  .close-image {
    height: 30px;
    width: 30px;
  }

  .modal {
    gap: 32px;
    min-width: 480px;
    padding: 32px;
    width: 55vw;
  }

  .modal-description {
    font-size: 18px;
    height: 24px;
  }

  .modal-title {
    font-size: 20px;
    height: 24px;
  }

  .title-container {
    height: 30px;
  }
}

@media (min-width: 1025px) {
  .close-image {
    height: 36px;
    width: 36px;
  }

  .modal {
    gap: 32px;
    min-width: 604px;
    padding: 32px;
    width: 42vw;
  }

  .modal-description {
    font-size: 24px;
    height: 26px;
  }

  .modal-title {
    font-size: 24px;
    height: 26px;
  }

  .title-container {
    height: 36px;
  }
}