@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


:root {
  /* THEME COLORS */
  --color-theme-primary-1: #005a2b;
  --color-theme-primary-2: #006d42;
  --color-theme-primary-3: #00b456;

  /* GENERIC COLORS */
  --color-gray: #808080;
  --color-white: #ffffff;

  /* COLORS WITH CUSTOM OPACITY */
  --color-gray-50: #80808080;

  /* FONTS */
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Orbitron', sans-serif;  
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
