.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-form-wrapper.sending {
  visibility: hidden;
}

@media (min-width: 769px) {
  .contact-form-wrapper {
    gap: 32px;
  }
}
