.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 296px;
  width: 66vw;
}

@media (min-width: 768px) {
  .contact-form-wrapper {
    gap: 32px;
    min-width: 480px;
    width: 55vw;
  }
}

@media (min-width: 1024px) {
  .contact-form-wrapper {
    min-width: 604px;
    width: 42vw;
  }
}
