#logo {
  cursor: pointer;
}

.container {
  background: linear-gradient(var(--color-theme-primary-1), var(--color-theme-primary-2));
  display: flex;
  height: 90px;
  justify-content: space-between;
  list-style-type: none;
  padding: 22px 29px 22px 22px;
  width: 100vw;
}

@media screen and(min-width: 1025px) {
  .container {
    padding: 22px 45px 22px 22px;
  }
}
