#logo {
  cursor: pointer;
}

.container {
  background: linear-gradient(var(--color-theme-primary-1), var(--color-theme-primary-2));
  display: flex;
  height: 90px;
  justify-content: space-between;
  list-style-type: none;
  padding: 22px;
  width: 100vw;
}

.menu {
  display: flex;
  margin: 0 45px 0 auto;
}
