.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

@media (min-width: 769px) {
  .section {
    width: calc(50% - 16px);
  }
  .full-width {
    width: 100%;
  }
}