#tablet-menu {
  background: radial-gradient(ellipse at right bottom, var(--color-theme-primary-1), var(--color-theme-secondary-1));
  border-radius: 0 0 24px 24px;
  display: flex;
  flex-direction: column;
  height: 404px;
  padding: 32px;
  position: fixed;
  top: -404px;
  transition: top 0.3s ease-in-out;
  width: 100%;
  z-index: 3;
}
#tablet-menu.open {
  top: 90px;
}

.tablet-menu-section {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
