.external-link-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 auto;
  width: 150px;
}

@media (min-width: 768px) {
  .external-link-wrapper {
    flex-direction: row;
    width: 100%;
  }
  .external-link-wrapper.doubles {
    max-width: 392px;
  }
  .external-link-wrapper.triples {
    max-width: 604px;
  }
  .professional {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .creative, .comic {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 612px;
  }

  .external-link-wrapper.doubles {
    max-width: 552px;
  }
  .external-link-wrapper.triples {
    max-width: 844px;
  }

  .professional {
    max-width: 1136px;
    width: 100%;
  }
}

@media (min-width: 1320px) {
  .creative, .comic, .professional, .external-link-wrapper.doubles {
    max-width: 1136px;
    width: 100%;
  }
}